html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}
li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a.link {
  
}
a:hover {
  text-decoration: none;
}
a.link:hover {
  text-decoration: none;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
.clearfix {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


/*footer*/
.footer{
	width:100%;
	background:#2a2a2a;
	height:auto;
	color:#949695;
	font-size:14px;

  clear: both;

}
.footer-cont{
	width:1040px;
	height:auto;
	overflow: hidden;
	margin:0 auto;
	margin-top:60px;
	padding:80px 20px;
}
.cont-fl{
	width:280px;
	line-height:24px;
}
.cont-fl .flogo img{
        margin-right:10px;
	margin-bottom:30px;
}
.cont-fl .link img{
	width:14px;
	height:14px;
	margin-right:15px;
	margin-top:40px;
}
.cont-fl .link img.f5s{
	width:20px;
	height:14px;
}
.cont-fm{
	line-height:24px;
	margin:0 30px;
}
.cont-fm p{
	margin-top:20px;
}
.cont-fm p.f16,.cont-fr p.f16{
	color:#fff;
	font-size:16px;
	margin-top:20px;
}
.cont-fm p img{
	margin-right:15px;
	position:relative;
	top:3px;
}
.cont-fm p.f7s,.cont-fr p.f7s{
	margin-top:30px;
} 
.cont-fm p.f7s img{
	width:15px;
	height:15px;
}
.cont-fm p.f8s img{
	width:15px;
	height:17px;
}
.cont-fm p.f9s img{
	width:17px;
	height:15px;
}
.cont-fr{
	width:280px;
	margin-left:40px;
	line-height:24px;
}
.cont-fr img{
	width:15px;
	height:10px;
	margin-right:15px;
}
.cont-fr p.ftime{
	margin-top:10px;
}













