.Paper {
    font-size: 12px;
    color: #333333;
    line-height: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}


.Head3 {
    color: #2B5381;
    font-size: 18px;
}

.Head4 {
    color: #2B5381;
    font-size: 16px;
}
