

.Person-container {
    width: 100px;
    background: red;
    margin: 0 auto;
    @include make-container();
}


.Person-float {
  float: lef
}

.mem_name a{
    color: #000;
}

.mem_name a:hover{
    color:#007bff;
    text-decoration: underline;
}
